<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link href="../../../assets/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="../../../assets/me/css/test.css" rel="stylesheet">
	</head>
	<body>2019
		<header>
			<div class="container">
				
			</div>
		</header>
		<div class="container">
			<div class="col-md-9">
				<div class="page-header">
  					<h4><b>一、单选题</b>(共 10 题，每题 1.5 分，共计 15 分。每题有且仅有一个正确选项。)</h4>
				</div>
				<div id="QA101" div class="panel panel-default">
			    <div class="panel-heading">
			    	<table>
			    		<tr>
			    			<th valign="top" nowrap="nowrap">1.</th>
			    				<td valign="top">在二进制下，1011001 + （ ）= 1100110。</td>
			    		</tr>
			    	</table>
			</div>
				<table class="table">
					<tr>
						<td width="25%">
							<input type="radio" name="ans_101" id="ans_101_A" value="A" ng-model="ans.questa[0].answer" />
							<label for="ans_01_A">A.1011</label>
						</td>
						<td width="25%">
							<input type="radio" name="ans_101" id="ans_101_B" value="B" ng-model="ans.questa[0].answer" />
							<label for="ans_01_B">B. 1101</label>
						</td>
						<td width="25%">
						<input type="radio" name="ans_101" id="ans_101_C" value="C" ng-model="ans.questa[0].answer" />
						<label for="ans_01_C">C.1010</label>
						</td>
						<td width="25%">
							<input type="radio" name="ans_101" id="ans_101_D" value="D" ng-model="ans.questa[0].answer" />
							<label for="ans_01_D">D.1111</label>
						</td>
					</tr>
				</table>
			</div>
			<div id="QA102" div class="panel panel-default">
				<div class="panel-heading">
					<table>
						<tr>
							<th valign="top" nowrap="nowrap">2.</th>
							<td valign="top"> 字符“A”的 ASCII 码为十六进制 41，则字符“Z”的 ASCII 码为十六进制的（ ）。
</td>
						</tr>
					</table>
				</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_1012" id="ans_102_A" value="A" ng-model="ans.questa[1].answer" />
								<label for="ans_02_A">A.66 </label>
							</td>
							<td width="25%">
								<input type="radio" name="ans_102" id="ans_102_B" value="B" ng-model="ans.questa[1].answer" />
								<label for="ans_02_B">B.5A</label>
							</td>
							<td width="25%">
								<input type="radio" name="ans_102" id="ans_102_C" value="C" ng-model="ans.questa[1].answer" />
								<label for="ans_02_C">C. 50</label>
							</td>
							<td width="25%">
								<input type="radio" name="ans_102" id="ans_102_D" value="D" ng-model="ans.questa[1].answer" />
								<label for="ans_02_D">D.视具体的计算机而定</label>
							</td></tr>
					</table>
			</div>
			<div id="QA103" div class="panel panel-default">
				<div class="panel-heading">
					<table>
						<tr>
							<th valign="top" nowrap="nowrap">3.</th>
							<td valign="top">下图是一棵二叉树，它的先序遍历是（ ）。</td>
						</tr>
						<td ></td>
					</table>
				</div>
				<table class="table">
					<tr>
						<td width="25%">
								<input type="radio" name="ans_103" id="ans_103_A" value="A" ng-model="ans.questa[2].answer" />
								<label for="ans_03_A">A.ABDEFC </label>
						</td>
							<td width="25%">
								<input type="radio" name="ans_103" id="ans_103_B" value="B" ng-model="ans.questa[2].answer" />
								<label for="ans_03_B">B. DBEFAC  </label>
								<center> <img src="images/2011-10-1-3.png" style="width: 100px; height: 100px;"> </center>
							</td>
							<td width="25%">
								<input type="radio" name="ans_103" id="ans_103_C" value="C" ng-model="ans.questa[2].answer" />
								<label for="ans_03_C">C.DFEBCA</label>
							</td>
							<td width="25%">
								<input type="radio" name="ans_103" id="ans_103_D" value="D" ng-model="ans.questa[2].answer" />
								<label for="ans_03_D">D.ABCDEF</label>
							</td></tr>
				</table>
			</div>
			<div id="QA104" div class="panel panel-default">
				<div class="panel-heading">
					<table>
						<tr>
							<th valign="top" nowrap="nowrap">4.</th>
							<td valign="top"> 寄存器是（ ）的重要组成部分。</td>
						</tr>
					</table>
				</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_104" id="ans_104_A" value="A" ng-model="ans.questa[3].answer" />
								<label for="ans_04_A">A. 硬盘 </label>
							</td>
							<td width="25%">
								<input type="radio" name="ans_104" id="ans_104_B" value="B" ng-model="ans.questa[3].answer" />
								<label for="ans_04_B">B.高速缓存 </label>
							</td>
							<td width="25%">
								<input type="radio" name="ans_104" id="ans_104_C" value="C" ng-model="ans.questa[3].answer" />
								<label for="ans_04_C">C.内存 </label>
							</td>
							<td width="25%">
								<input type="radio" name="ans_104" id="ans_104_D" value="D" ng-model="ans.questa[3].answer" />
								<label for="ans_04_D">D.中央处理器（CPU）</label>
							</td></tr>
					</table>
			</div>
			<div id="QA105" div class="panel panel-default">
			    <div class="panel-heading">
			    	<table>
			    		<tr>
			    			<th valign="top" nowrap="nowrap">5.</th>
			    				<td valign="top">广度优先搜索时，需要用到的数据结构是（ ）。</td>
			    		</tr>
			    	</table>
			</div>
				<table class="table">
					<tr>
						<td width="25%">
							<input type="radio" name="ans_105" id="ans_105_A" value="A" ng-model="ans.questa[4].answer" />
							<label for="ans_05_A">A.链表</label>
						</td>
						<td width="25%">
							<input type="radio" name="ans_105" id="ans_105_B" value="B" ng-model="ans.questa[4].answer" />
							<label for="ans_05_B">B.队列</label>
						</td>
						<td width="25%">
						<input type="radio" name="ans_105" id="ans_105_C" value="C" ng-model="ans.questa[4].answer" />
						<label for="ans_05_C">C. 栈</label>
						</td>
						<td width="25%">
							<input type="radio" name="ans_105" id="ans_105_D" value="D" ng-model="ans.questa[4].answer" />
							<label for="ans_05_D">D. 散列表</label>
						</td></tr>
				</table>
			</div>
			<div id="QA106" div class="panel panel-default">
			    <div class="panel-heading">
			    	<table>
			    		<tr>
			    			<th valign="top" nowrap="nowrap">6.</th>
			    				<td valign="top">在使用高级语言编写程序时，一般提到的“空间复杂度”中的空间是指（ ）。</td>
			    		</tr>
			    	</table>
			</div>
				<table class="table">
					<tr>
						<td width="25%">
							<input type="radio" name="ans_106" id="ans_106_A" value="A" ng-model="ans.questa[5].answer" />
							<label for="ans_06_A">A. 程序运行时理论上所占的内存空间</label>
						</td></tr>
						<tr>
						<td width="25%">
							<input type="radio" name="ans_106" id="ans_106_B" value="B" ng-model="ans.questa[5].answer" />
							<label for="ans_06_B">B. 程序运行时理论上所占的数组空间</label>
						</td></tr>
						<tr>
						<td width="25%">
						<input type="radio" name="ans_106" id="ans_106_C" value="C" ng-model="ans.questa[5].answer" />
						<label for="ans_06_C">C.程序运行时理论上所占的硬盘空间</label>
						</td></tr>
						<tr>
						<td width="25%">
							<input type="radio" name="ans_106" id="ans_106_D" value="D" ng-model="ans.questa[5].answer" />
							<label for="ans_06_D">D. 程序源文件理论上所占的硬盘空间</label>
						</td></tr>
				</table>
			</div>
			<div id="QA107" div class="panel panel-default">
				<div class="panel-heading">
					<table>
						<tr>
							<th valign="top" nowrap="nowrap">7.</th>
							<td valign="top">应用快速排序的分治思想，可以实现一个求第 K 大数的程序。假定不考虑极端的最坏情况，理论上可
以实现的最低的算法时间复杂度为（ ）。</td>
						</tr>
					</table>
				</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_107" id="ans_107_A" value="A" ng-model="ans.questa[6].answer" />
								<label for="ans_07_A">A.O(n<sup>2</sup>)</label>
							</td>
							<td width="25%">
								<input type="radio" name="ans_107" id="ans_107_B" value="B" ng-model="ans.questa[6].answer" />
								<label for="ans_07_B">B.O(nlogn)</label>
							</td>
							<td width="25%">
								<input type="radio" name="ans_107" id="ans_107_C" value="C" ng-model="ans.questa[6].answer" />
								<label for="ans_07_C">C.O(n)</label>
							</td>
							<td width="25%">
								<input type="radio" name="ans_107" id="ans_107_D" value="D" ng-model="ans.questa[6].answer" />
								<label for="ans_07_D">D.O(1)</label>
							</td></tr>
					</table>
			</div>
			<div id="QA108" div class="panel panel-default">
				<div class="panel-heading">
					<table>
						<tr>
							<th valign="top" nowrap="nowrap">8.</th>
							<td valign="top"> 为解决 web应用中的不兼容问题，保障信息的顺利流通，（ ）制定了一系列标准，涉及 HTML、
XML、CSS 等，并建议开发者遵循。</td>
						</tr>
					</table>
				</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_108" id="ans_108_A" value="A" ng-model="ans.questa[7].answer" />
								<label for="ans_08_A">A.微软 </label>
							</td></tr><tr>
							<td width="25%">
								<input type="radio" name="ans_108" id="ans_108_B" value="B" ng-model="ans.questa[7].answer" />
								<label for="ans_08_B">B.美国计算机协会（ACM）  </label>
							</td></tr><tr>
							<td width="25%">
								<input type="radio" name="ans_108" id="ans_108_C" value="C" ng-model="ans.questa[7].answer" />
								<label for="ans_08_C">C.联合国教科文组织 </label>
							</td></tr><tr>
							<td width="25%">
								<input type="radio" name="ans_108" id="ans_108_D" value="D" ng-model="ans.questa[7].answer" />
								<label for="ans_08_D">D.万维网联盟（W3C）</label>
							</td></tr>
					</table>
			</div>
			<div id="QA109" div class="panel panel-default">
				<div class="panel-heading">
					<table>
						<tr>
							<th valign="top" nowrap="nowrap">9.</th>
							<td valign="top">体育课的铃声响了，同学们都陆续的奔向操场，按老师的要求从高到低站成一排。每个同学按顺序来
到操场时，都从排尾走到排头，找到第一个比自己高的同学，并站在他的后面。这种站队的方法类似于（ ）
算法。</td>
						</tr>
					</table>
				</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_109" id="ans_109_A" value="A" ng-model="ans.questa[8].answer" />
								<label for="ans_09_A">A.快速排序</label>
							</td>
							<td width="25%">
								<input type="radio" name="ans_109" id="ans_109_B" value="B" ng-model="ans.questa[8].answer" />
								<label for="ans_09_B">B.插入排序 </label>
							</td>
							<td width="25%">
								<input type="radio" name="ans_109" id="ans_109_C" value="C" ng-model="ans.questa[8].answer" />
								<label for="ans_09_C">C.冒泡排序</label>
							</td>
							<td width="25%">
								<input type="radio" name="ans_109" id="ans_109_D" value="D" ng-model="ans.questa[8].answer" />
								<label for="ans_09_D">D.归并排序</label>
							</td></tr>
					</table>
			</div>
			<div id="QA110" div class="panel panel-default">
				<div class="panel-heading">
					<table>
						<tr>
							<th valign="top" nowrap="nowrap">10.</th>
							<td valign="top">1956 年（ ）授予肖克利（William Shockley）、巴丁（John Bardeen）和布拉顿（Walter Brattain）。
</td>
						</tr>
					</table>
				</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_110" id="ans_110_A" value="A" ng-model="ans.questa[9].answer" />
								<label for="ans_10_A">A.诺贝尔物理学奖 </label>
							</td></tr><tr>
							<td width="25%">
								<input type="radio" name="ans_110" id="ans_110_B" value="B" ng-model="ans.questa[9].answer" />
								<label for="ans_10_B">B.约翰·冯·诺依曼奖 </label>
							</td></tr><tr>
							<td width="25%">
								<input type="radio" name="ans_110" id="ans_110_C" value="C" ng-model="ans.questa[9].answer" />
								<label for="ans_10_C">C.图灵奖</label>
							</td></tr><tr>
							<td width="25%">
								<input type="radio" name="ans_110" id="ans_110_D" value="D" ng-model="ans.questa[9].answer" />
								<label for="ans_10_D">D.高德纳奖 （Donald E. Knuth Prize）</label>
							</td></tr>
					</table>
			</div>
			<div class="page-header">
  					<h4><b>二、不定项选择题</b>(共 10 题，每题 1.5 分，共计 15 分。每题正确答案的个数不
少于 1。多选或少选均不得分)</h4>
				</div>
			<div id="QA201" div class="panel panel-default">
				<div class="panel-heading">
					<table>
						<tr>
							<th valign="top" nowrap="nowrap">1.</th>
							<td valign="top">如果根结点的深度记为 1，则一棵恰有 2011 个叶子结点的二叉树的深度可能是
（ ）。</td>
						</tr>
					</table>
				</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="checkbox" name="ans_201_A" ng-true-value="A" ng-false-value="" ng-model="ans.questb[0].ansA" />
								<label for="ans_11_A">A.10</label>
							</td>
							<td width="25%">
								<input type="checkbox" name="ans_201_B" ng-true-value="B" ng-false-value="" ng-model="ans.questb[0].ansB" />
								<label for="ans_11_B">B.11</label><center> <img src="images/2011-10-2-1.png" style="width: 100px; height: 100px;"> </center>
							</td>
							<td width="25%">
								<input type="checkbox" name="ans_201_C" ng-true-value="C" ng-false-value="" ng-model="ans.questb[0].ansC" />
								<label for="ans_11_C">C.12</label>
							</td>
							<td width="25%">
								<input type="checkbox" name="ans_201_D" ng-true-value="D" ng-false-value="" ng-model="ans.questb[0].ansD" />
								<label for="ans_11_D">D.2011</label>
							</td></tr>
					</table>
			</div>
			<div id="QA202" div class="panel panel-default">
				<div class="panel-heading">
					<table>
						<tr>
							<th valign="top" nowrap="nowrap">2.</th>
							<td valign="top">在布尔逻辑中，逻辑“或”的性质有（ ）。</td>
						</tr>
					</table>
				</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="checkbox" name="ans_202_A" ng-true-value="A" ng-false-value="" ng-model="ans.questb[1].ansA" />
								<label for="ans_12_A">A.交换律：PVQ = QVP</label>
							</td></tr><tr>
							<td width="25%">
								<input type="checkbox" name="ans_202_B" ng-true-value="B" ng-false-value="" ng-model="ans.questb[1].ansB" />
								<label for="ans_12_B">B.结合律：PV（QVR）=（PVQ）VR</label>
							</td></tr><tr>
							<td width="25%">
								<input type="checkbox" name="ans_202_C" ng-true-value="C" ng-false-value="" ng-model="ans.questb[1].ansC" />
								<label for="ans_12_C">C.幂等律：PVP = P</label>
							</td></tr><tr>
							<td width="25%">
								<input type="checkbox" name="ans_202_D" ng-true-value="D" ng-false-value="" ng-model="ans.questb[1].ansD" />
								<label for="ans_12_D">D.有界律：PV1 = 1（1 表示逻辑真）</label>
							</td></tr>
					</table>
			</div>
			<div id="QA203" div class="panel panel-default">
				<div class="panel-heading">
					<table>
						<tr>
							<th valign="top" nowrap="nowrap">3.</th>
							<td valign="top">一个正整数在十六进制下有 100 位，则它在二进制下可能有（ ）位。</td>
						</tr>
					</table>
				</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="checkbox" name="ans_203_A" ng-true-value="A" ng-false-value="" ng-model="ans.questb[2].ansA" />
								<label for="ans_13_A">A.399</label>
							</td>
							<td width="25%">
								<input type="checkbox" name="ans_203_B" ng-true-value="B" ng-false-value="" ng-model="ans.questb[2].ansB" />
								<label for="ans_13_B">B.400</label>
							</td>
							<td width="25%">
								<input type="checkbox" name="ans_203_C" ng-true-value="C" ng-false-value="" ng-model="ans.questb[2].ansC" />
								<label for="ans_13_C">C.401</label>
							</td>
							<td width="25%">
								<input type="checkbox" name="ans_203_D" ng-true-value="D" ng-false-value="" ng-model="ans.questb[2].ansD" />
								<label for="ans_13_D">D.404</label>
							</td></tr>
					</table>
			</div>
			<div id="QA204" div class="panel panel-default">
				<div class="panel-heading">
					<table>
						<tr>
							<th valign="top" nowrap="nowrap">4.</th>
							<td valign="top">汇编语言（ ）。</td>
						</tr>
					</table>
				</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="checkbox" name="ans_204_A" ng-true-value="A" ng-false-value="" ng-model="ans.questb[3].ansA" />
								<label for="ans_14_A">A.是一种与具体硬件无关的程序设计语言</label>
							</td></tr><tr>
							<td width="25%">
								<input type="checkbox" name="ans_204_B" ng-true-value="B" ng-false-value="" ng-model="ans.questb[3].ansB" />
								<label for="ans_14_B">B.在编写复杂程序时，相对于高级语言而言代码量大，且不易调试</label>
							</td></tr><tr>
							<td width="25%">
								<input type="checkbox" name="ans_204_C" ng-true-value="C" ng-false-value="" ng-model="ans.questb[3].ansC" />
								<label for="ans_14_C">C.可以直接访问寄存器、内存单元、I/O 端口</label>
							</td></tr><tr>
							<td width="25%">
								<input type="checkbox" name="ans_204_D" ng-true-value="D" ng-false-value="" ng-model="ans.questb[3].ansD" />
								<label for="ans_14_D">D.随着高级语言的诞生，如今已被完全淘汰，不再使用</label>
							</td></tr>
					</table>
			</div>
			<div id="QA205" div class="panel panel-default">
				<div class="panel-heading">
					<table>
						<tr>
							<th valign="top" nowrap="nowrap">5.</th>
							<td valign="top">现有一段文言文，要通过二进制哈夫曼编码进行压缩。简单起见，假设这段文言文只由 4 个汉字“之”、
“乎”、“者”、“也”组成，它们出现的次数分别为 700、600、300、400。那么，“也”字的编码长度
可能是（ ）。</td>
						</tr>
					</table>
				</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="checkbox" name="ans_205_A" ng-true-value="A" ng-false-value="" ng-model="ans.questb[4].ansA" />
								<label for="ans_15_A">A.1</label>
							</td>
							<td width="25%">
								<input type="checkbox" name="ans_205_B" ng-true-value="B" ng-false-value="" ng-model="ans.questb[4].ansB" />
								<label for="ans_15_B">B.2</label>
							</td>
							<td width="25%">
								<<input type="checkbox" name="ans_205_C" ng-true-value="C" ng-false-value="" ng-model="ans.questb[4].ansC" />
								<label for="ans_15_C">C.3</label>
							</td>
							<td width="25%">
								<input type="checkbox" name="ans_205_D" ng-true-value="D" ng-false-value="" ng-model="ans.questb[4].ansD" />
								<label for="ans_15_D">D.4</label>
							</td></tr>
					</table>
			</div>
			<div id="QA206" div class="panel panel-default">
				<div class="panel-heading">
					<table>
						<tr>
							<th valign="top" nowrap="nowrap">6.</th>
							<td valign="top">生物特征识别，是利用人体本身的生物特征进行身份认证的一种技术。目前，指纹识别、虹膜识别、
人脸识别等技术已广泛应用于政府、银行、安全防卫等领域。以下属于生物特征识别技术及其应用的是
（ ）。</td>
						</tr>
					</table>
				</div>
					<table class="table">
						<img src ="images/2011-10-2-6.png" style="width: 650px; height: 100px;">
						<tr>
							<td width="25%">
								<input type="checkbox" name="ans_206_A" ng-true-value="A" ng-false-value="" ng-model="ans.questb[5].ansA" />
								<label for="ans_16_A">A.指静脉验证</label>
							</td>
							<td width="25%">
								<input type="checkbox" name="ans_206_B" ng-true-value="B" ng-false-value="" ng-model="ans.questb[5].ansB" />
								<label for="ans_16_B">B.步态验证 </label>
							</td>
							<td width="25%">
								<input type="checkbox" name="ans_206_C" ng-true-value="C" ng-false-value="" ng-model="ans.questb[5].ansC" />
								<label for="ans_16_C">C.ATM 机密码验证</label>
							</td>
							<td width="25%">
								<input type="checkbox" name="ans_206_D" ng-true-value="D" ng-false-value="" ng-model="ans.questb[5].ansD" />
								<label for="ans_16_D">D.声音验证</label>
							</td></tr>
					</table>
			</div>
			<div id="QA207" div class="panel panel-default">
				<div class="panel-heading">
					<table>
						<tr>
							<th valign="top" nowrap="nowrap">7.</th>
							<td valign="top">对于序列“7、5、1、9、3、6、8、4”，在不改变顺序的情况下，去掉（ ）会使逆序对的个数减少
3。</td>
						</tr>
					</table>
				</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="checkbox" name="ans_207_A" ng-true-value="A" ng-false-value="" ng-model="ans.questb[6].ansA" />
								<label for="ans_17_A">A.7</label>
							</td>
							<td width="25%">
								<input type="checkbox" name="ans_207_B" ng-true-value="B" ng-false-value="" ng-model="ans.questb[6].ansB" />
								<label for="ans_17_B">B.5</label>
							</td>
							<td width="25%">
								<input type="checkbox" name="ans_207_C" ng-true-value="C" ng-false-value="" ng-model="ans.questb[6].ansC" />
								<label for="ans_17_C">C.3</label>
							</td>
							<td width="25%">
								<input type="checkbox" name="ans_207_D" ng-true-value="D" ng-false-value="" ng-model="ans.questb[6].ansD" />
								<label for="ans_17_D">D.6</label>
							</td></tr>
					</table>
			</div>
			<div id="QA208" div class="panel panel-default">
				<div class="panel-heading">
					<table>
						<tr>
							<th valign="top" nowrap="nowrap">8.</th>
							<td valign="top">计算机中的数值信息分为整数和实数（浮点数）。实数之所以能够表示很大或者很小的数，是由于使
用了（ ）。</td>
						</tr>
					</table>
				</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="checkbox" name="ans_208_A" ng-true-value="A" ng-false-value="" ng-model="ans.questb[7].ansA" />
								<label for="ans_18_A">A.阶码</label>
							</td>
							<td width="25%">
								<input type="checkbox" name="ans_208_B" ng-true-value="B" ng-false-value="" ng-model="ans.questb[7].ansB" />
								<label for="ans_18_B">B.补码</label>
							</td>
							<td width="25%">
								<input type="checkbox" name="ans_208_C" ng-true-value="C" ng-false-value="" ng-model="ans.questb[7].ansC" />
								<label for="ans_18_C">C.反码</label>
							</td>
							<td width="25%">
								<input type="checkbox" name="ans_208_D" ng-true-value="D" ng-false-value="" ng-model="ans.questb[7].ansD" />
								<label for="ans_18_D">D.较长的尾数</label>
							</td></tr>
					</table>
			</div>
			<div id="QA209" div class="panel panel-default">
				<div class="panel-heading">
					<table>
						<tr>
							<th valign="top" nowrap="nowrap">9.</th>
							<td valign="top">对右图使用 Dijkstra 算法计算 S 点到其余各点的最短路径长度时，到 B 点的距离 d[B]初始时赋为 8，在
算法的执行过程中还会出现的值有（ ）。</td>
						</tr>
					</table>
				</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="checkbox" name="ans_209_A" ng-true-value="A" ng-false-value="" ng-model="ans.questb[8].ansA" />
								<label for="ans_19_A">A.3</label>
							</td>
							<td width="25%">
								<input type="checkbox" name="ans_209_B" ng-true-value="B" ng-false-value="" ng-model="ans.questb[8].ansB" />
								<label for="ans_19_B">B.7</label>
							</td>
							<td width="25%">
								<input type="checkbox" name="ans_209_C" ng-true-value="C" ng-false-value="" ng-model="ans.questb[8].ansC" />
								<label for="ans_19_C">C.6</label>
							</td>
							<td width="25%">
								<input type="checkbox" name="ans_209_D" ng-true-value="D" ng-false-value="" ng-model="ans.questb[8].ansD" />
								<label for="ans_19_D">D.5</label>
							</td></tr>
					</table>
			</div>
		    <div id="QA210"div class="panel panel-default">
				<div class="panel-heading">
					<table>
						<tr>
							<th valign="top" nowrap="nowrap">10.</th>
							<td valign="top">为计算机网络中进行数据交换而建立的规则、标准或约定的集合称为网络协议。在下列英文缩写中，（ ）
是网络协议。</td>
						</tr>
					</table>
				</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="checkbox" name="ans_210_A" ng-true-value="A" ng-false-value="" ng-model="ans.questb[9].ansA" />
								<label for="ans_20_A">A.HTTP</label>
							</td>
							<td width="25%">
								<input type="checkbox" name="ans_210_B" ng-true-value="B" ng-false-value="" ng-model="ans.questb[9].ansB" />
								<label for="ans_20_B">B.TCP/IP </label>
							</td>
							<td width="25%">
								<input type="checkbox" name="ans_210_C" ng-true-value="C" ng-false-value="" ng-model="ans.questb[9].ansC" />
								<label for="ans_20_C">C.FTP</label>
							</td>
							<td width="25%">
								<input type="checkbox" name="ans_210_A" ng-true-value="D" ng-false-value="" ng-model="ans.questb[9].ansD" />
								<label for="ans_20_D">D.WWW</label>
							</td></tr>
					</table>
			</div>
			<div class="page-header">
  					<h4><b>三、问题求解</b>(共2题，每题5分，共计10分)</h4>
				</div>
				<div id="QA301" class="panel panel-default">
				<div class="panel-body">
					<table width="100%">
					<tr><th valign="top" nowrap="nowrap">1.&nbsp;</th>
								<td valign="top">
									平面图可以在画在平面上，且它的边仅在顶点上才能相交的简单无向图。4 个 顶 点的平面图至少有 6 条边，如右图所示。那么，5 个顶点的平面图至少有 
									<input style="width: 100px;" type="text" ng-model="ans.questc[0].answer" placeholder="[5分]">条	。										
								</td>
								<td><img src="images/2011-3-1.png" style="width: 100px; height: 100px;"></td>
							</tr>
						</table>
				</div>
				</div>
				<div id="QA302" class="panel panel-default">
				<div class="panel-body">
					<table width="100%">
					<tr><th valign="top" nowrap="nowrap">2.&nbsp;</th>
								<td valign="top">
									定义一种字符串操作，一次可以将其中一个元素移到任意位置。举例说明，对 于字
符串“BCA”可以将 A 移到 B 之前，变字符串“ABC”。如果要将字符串“DACHEBGIF”变成“ABCDEFGHI”
最少需要<input style="width: 100px;" type="text" ng-model="ans.questc[1].answer" placeholder="[5分]">次操作。										
								</td>
							</tr>
						</table>
				</div>
				</div>
				<div class="page-header">
  					<h4><b>四、阅读程序写结果</b>(共4题，每题8分，共计32分)</h4>
				</div>
				<div id="QA401" class="panel panel-default">
  					<div class="panel-body">
						<table width="100%">
							<tr><th valign="top" nowrap="nowrap">1.&nbsp;</th>
								<td><pre>
#include&ltiostream>
#include&ltcstring>
using namespace std;
const int SIZE = 100;
int main()
{
 int n,i,sum,x,a[SIZE];
 
 cin>>n;
 memset(a,0,sizeof(a));
 
 for(i=1;i<=n;i++){
 cin>>x;
 a[x]++;
 }
 i=0;
 sum=0;
 while(sum<(n/2+1)){
 i++;
 sum+=a[i];
 }
 cout&lt&lti&lt&ltendl;
 return 0;
}					
								</pre></td>
							</tr>
							<tr><td></td><td>
								输入：<pre>
11
4 5 6 6 4 3 3 2 3 2 1
								</pre>
							</td></tr>
							<tr><td></td><td>
								输出：<input style="width: 120px;" type="text" ng-model="ans.questd[0].answer" placeholder="[8分]">
							</td></tr>
						</table>
  					</div>
				</div>
				<div id="QA402" class="panel panel-default">
  					<div class="panel-body">
						<table width="100%">
							<tr><th valign="top" nowrap="nowrap">2.&nbsp;</th>
								<td><pre>
#include&ltiostream>
using namespace std;
int n;
void f2(int x,int y);
void f1(int x,int y)
{
 if(x&ltn)
 f2(y,x+y);
}
void f2(int x,int y)
{
 cout&lt&ltx&lt&lt' ';
 f1(y,x+y);
}
int main()
{
 cin>>n;
 f1(0,1);
 return 0;
 return 0;
}							
								</pre></td>
							</tr>
							<tr><td></td><td>
								输入：30
							</td></tr>
							<tr><td></td><td>
								输出：<input style="width: 120px;" type="text" ng-model="ans.questd[1].answer" placeholder="[8分]">
							</td></tr>
						</table>
  					</div>
				</div>
				<div id="QA403" class="panel panel-default">
  					<div class="panel-body">
						<table width="100%">
							<tr><th valign="top" nowrap="nowrap">3.&nbsp;</th>
								<td><pre>
#include&ltiostream>
using namespace std;
const int V=100;
int n,m,ans,e[V][V];
bool visited[V];
void dfs(int x,int len)
{
 int i;
 visited[x]= true;
 if(len>ans)
 ans=len;
 for(i=1;i<=n;i++)
 if( (!visited[i]) && (e[x][i]!=-1) )
 dfs(i,len+e[x][i]);
 visited[x]=false;
}
int main()
{
 int i,j,a,b,c;
 cin>>n>>m;
 for(i=1;i<=n;i++)
 for(j=1;j<=m;j++)
 e[i][j]=-1;
 for(i=1;i<=m;i++)
 {
 cin>>a>>b>>c;
 e[a][b]=c;
 e[b][a]=c;
 }
 for(i=1;i<=n;i++)
 visited[i]=false;
 ans=0;
 for(i=1;i<=n;i++)
 dfs(i,0);
 cout&lt&ltans&lt&ltendl;
 return 0;
}								
								</pre></td>
							</tr>
							<tr><td></td><td>
								输入：<pre>
4 6
1 2 10
2 3 20
3 4 30
4 1 40
1 3 50
2 4 60 
								</pre>
							</td></tr>
							<tr><td></td><td>
								输出：<input style="width: 120px;" type="text" ng-model="ans.questd[2].answer" placeholder="[8分]">
							</td></tr>
						</table>
  					</div>
				</div>
				<div id="QA404" class="panel panel-default">
  					<div class="panel-body">
						<table width="100%">
							<tr><th valign="top" nowrap="nowrap">4.&nbsp;</th>
								<td><pre>
#include&ltiostream>
#include&ltcstring>
#include&ltstring>
using namespace std;
const int SIZE=10000;
const int LENGTH=10;
int n,m,a[SIZE][LENGTH];
int h(int u,int v)
{
 int ans,i;
 ans=0;
 for(i=1;i<=n;i++)
 if( a[u][i]!=a[v][i])
 ans++;
 return ans;
}
int main()
{
 int sum,i,j;
 cin>>n;
 memset(a,0,sizeof(a));
 m=1;
 while(1)
 {
 i=1;
 while( (i<=n) && (a[m][i]==1) )
 i++;
 if(i>n)
 break;
 m++;
 a[m][i]=1;
 for(j=i+1;j<=n;j++)
 a[m][j]=a[m-1][j];
 }
 
 sum=0;
 for(i=1;i<=m;i++)
 for(j=1;j<=m;j++)
 sum+=h(i,j);
 cout&lt&ltsum&lt&ltendl;
 return 0;
}								
								</pre></td>
							</tr>
							<tr><td></td><td>
								输入：7
							</td></tr>
							<tr><td></td><td>
								输出：<input style="width: 120px;" type="text" ng-model="ans.questd[3].answer" placeholder="[8分]">
							</td></tr>
						</table>
  					</div>
				</div>
				<div class="page-header">
  					<h4><b>五、完善程序</b>(第 1 题，每空 2 分，第 2 题，每空 3 分，共 28 分)</h4>
				</div>
				<div id="QA501" class="panel panel-default">
				  	<div class="panel-heading">
				    	<table border="0" width="100%">
				    		<tr><th valign="top">1.</th>
				    			<td>
									<b>.(大整数开方) </b>输入一个正整数 n（1≤n≤10100），试用二分法计算它的平方根的整数部分。<br>
				    			</td>
				    		</tr>
				    	</table>
				  	</div>
				  	<div class="panel-body">
				    	<table border="0" width="100%">
				    		<tr><th nowrap="nowrap">&nbsp;&nbsp;&nbsp;</th>
				    			<td><pre>
#include&ltiostream>
#include&ltstring>
using namespace std;
const int SIZE=200;
struct hugeint{
 int len,num[SIZE];
};
//其中 len 表示大整数的位数；num[1]表示个位，num[2]表示十位，以此类推
hugeint times(hugeint a,hugeint b)
// 计算大整数 a 和 b 的乘积
{
 int i,j;
 hugeint ans;
 memset(ans.num,0,sizeof(ans.num));
 for(i=1;i<=a.len;i++)
 for(j=1;j<=b.len;j++)
<input id="QA511" style="width: 240px;" type="text" ng-model="ans.queste[0].answer" placeholder="(___1___)[2分]">
 for(i=1;i<=a.len+b.len;i++){
 ans.num[i+1]+=ans.num[i]/10;
 <input id="QA512" style="width: 240px;" type="text" ng-model="ans.queste[1].answer" placeholder="(___2___)[2分]"> ; 
 }
 if(ans.num[a.len+b.len]>0)
 ans.len=a.len+b.len;
 else
 ans.len=a.len+b.len-1;
 return ans;
}
hugeint add(hugeint a,hugeint b)
//计算大整数 a 和 b 的和
{
 int i;
 hugeint ans;
 memset(ans.num,0,sizeof(ans.num));
 if(a.len>b.len)
 ans.len=a.len;
 else
 ans.len=b.len;
 for(i=1;i<=ans.len;i++){
 ans.num[i]+= <input id="QA513" style="width: 240px;" type="text" ng-model="ans.queste[2].answer" placeholder="(___3___)[2分]">; 
 ans.num[i+1]+= ans.num[i]/10;
 ans.num[i]%=10;
 }
 if(ans.num[ans.len+1]>0)
 ans.len++;
 return ans;
}
hugeint average(hugeint a,hugeint b)
//计算大整数 a 和 b 的平均数的整数部分
{
 int i;
 hugeint ans;
 ans=add(a,b);
 for(i=ans.len;i>=2;i--){
 ans.num[i-1]+=( <input id="QA514" style="width: 240px;" type="text" ng-model="ans.queste[3].answer" placeholder="(___4___)[2分]"> )*10; 
 ans.num[i]/=2;
 }
 ans.num[1]/=2;
 if(ans.num[ans.len]==0)
 ans.len--;
 return ans;
}
hugeint plustwo(hugeint a)
// 计算大整数 a 加 2 之后的结果
{
 int i;
 hugeint ans;
 ans=a;
 ans.num[1]+=2;
 i=1;
 while( (i<=ans.len)&&(ans.num[i]>=10) ){
 ans.num[i+1]+=ans.num[i]/10;
 ans.num[i]%=10;
 i++;
 }
 if(ans.num[ans.len+1]>0)
 <input id="QA51"5 style="width: 240px;" type="text" ng-model="ans.queste[4].answer" placeholder="(___5___)[2分]">; 
 return ans;
}
bool over(hugeint a,hugeint b)
// 若大整数 a>b 则返回 true，否则返回 false
{
 int i;
 if( <input id="QA516" style="width: 240px;" type="text" ng-model="ans.queste[5].answer" placeholder="(___6___)[2分]"> ) 
 return false;
 if( a.len>b.len )
 return true;
 for(i=a.len;i>=1;i--){
 if(a.num[i]<b.num[i])
 return false;
 if(a.num[i]>b.num[i])
 return true;
 }
 return false;
}
int main()
{
 string s;
 int i;
 hugeint target,left,middle,right;
 cin>>s;
 memset(target.num,0,sizeof(target.num));
 target.len=s.length();
 for(i=1;i<=target.len;i++)
 target.num[i]=s[target.len-i]- <input id="QA517" style="width: 240px;" type="text" ng-model="ans.queste[6].answer" placeholder="(___7___)[2分]"> ;
 memset(left.num,0,sizeof(left.num));
 left.len=1;
 left.num[1]=1;
 right=target;
 do{
 middle=average(left,right);
 if(over( <input id="QA518" style="width: 240px;" type="text" ng-model="ans.queste[7].answer" placeholder="(___8___)[2分]">))
 right=middle;
 else
 left=middle;
 }while(!over(plustwo(left),right) );
 for(i=left.len;i>=1;i--)
 cout&lt&ltleft.num[i];
 return 0;
}
								</pre></td>
				    		</tr>
				    	</table>
				  	</div>
				  	</div>
				  	<div id="QA502" class="panel panel-default">
				  	<div class="panel-heading">
				    	<table border="0" width="100%">
				    		<tr><th valign="top">2.</th>
				    			<td>
									<b>.（笛卡尔树） </b>对于一个给定的两两不等的正整数序列，笛卡尔树是这样的一棵二叉树：首先，它是一个
最小堆，即除了根结点，每个节点的权值都大雨父节点的权值；其次，它的中序遍历恰好就是给定的序列。
例如，对于序列 7、2、12、1、10、5、15、3，下图就是一棵对应的笛卡尔树。现输入序列的规模 n（1≤n<100）
和序列的 n 个元素，试求其对应的笛卡尔树的深度 d（根节点深度为 1），以及有多少个叶子节点的深度为
d。<br>
				    			</td>
				    		</tr>
				    	</table>
				  	</div>
				  	<div class="panel-body">
				    	<table border="0" width="100%">
				    		<tr><th nowrap="nowrap">&nbsp;&nbsp;&nbsp;</th>
				    			<td><img src="images/2011-5-2.png" style="width: 100px; height: 100px;"></td>
				    			<td><pre>
#include&ltiostream>
using namespace std;
const int SIZE=100+5;
const int INFINITY=1000000;
int n,a[SIZE],maxDeep,num;
void solve(int left,int right,int deep)
{
int i,j,min;
 if(deep>maxDeep){
 maxDeep=deep;
 num=1;
 }
 else if(deep==maxDeep)
 <input id="QA521" style="width: 240px;" type="text" ng-model="ans.queste[8].answer" placeholder="(___1___)[3分]"> ; 
 min= INFINITY;
 for(i=left;i<=right;i++)
 if(min>a[i]){
 min=a[i];
 <input id="QA522" style="width: 240px;" type="text" ng-model="ans.questd[9].answer" placeholder="(___2___)[3分]"> ; 
 }
 if(left<j)
 <input id="QA523" style="width: 240px;" type="text" ng-model="ans.questd[10].answer" placeholder="(___3___)[3分]"> ; 
 if(j<right)
 <input id="QA524" style="width: 240px;" type="text" ng-model="ans.questd[11].answer" placeholder="(___4___)[3分]"> ; 
}
int main()
{
 int i;
 cin>>n;
 for(i=1;i<=n;i++)
 cin>>a[i];
 maxDeep=0;
 solve(1,n,1);
 cout<<maxDeep<<' '<<num<<endl;
 return 0;
}
								</pre></td>
				    		</tr>
				    	</table>
				  	</div>
				  </div>
			</div>
			<div class="col-md-3">
		    	
				<div id="panel-top" class="page-header">
  					<h4><b>一、单选题</b></h4>
				</div>
				
    			<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      				<div class="btn-group" role="group" aria-label="First group">
        				<a href="#QA101"><button id="btn_1_1" type="button" class="btn btn-default">1</button></a>
        				<a href="#QA102"><button id="btn_1_2" type="button" class="btn btn-default">2</button></a>
        				<a href="#QA103"><button id="btn_1_3" type="button" class="btn btn-default">3</button></a>
        				<a href="#QA104"><button id="btn_1_4" type="button" class="btn btn-default">4</button></a>
        				<a href="#QA105"><button id="btn_1_5" type="button" class="btn btn-default">5</button></a>
        				<a href="#QA106"><button id="btn_1_6" type="button" class="btn btn-default">6</button></a>
        				<a href="#QA107"><button id="btn_1_7" type="button" class="btn btn-default">7</button></a>
        				<a href="#QA108"><button id="btn_1_8" type="button" class="btn btn-default">8</button></a>
        				<a href="#QA109"><button id="btn_1_9" type="button" class="btn btn-default">9</button></a>
        				<a href="#QA110"><button id="btn_1_10" type="button" class="btn btn-default">10</button></a>
      				</div>
    			</div>
    			
    			<div id="panel-top" class="page-header">
  					<h4><b>二、多选题</b></h4>
				</div>
				
    			<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      				<div class="btn-group" role="group" aria-label="First group">
        				<a href="#QA201"><button id="btn_2_1" type="button" class="btn btn-default">1</button></a>
        				<a href="#QA202"><button id="btn_2_2" type="button" class="btn btn-default">2</button></a>
        				<a href="#QA203"><button id="btn_2_3" type="button" class="btn btn-default">3</button></a>
        				<a href="#QA204"><button id="btn_2_4" type="button" class="btn btn-default">4</button></a>
        				<a href="#QA205"><button id="btn_2_5" type="button" class="btn btn-default">5</button></a>
        				<a href="#QA206"><button id="btn_2_6" type="button" class="btn btn-default">6</button></a>
        				<a href="#QA207"><button id="btn_2_7" type="button" class="btn btn-default">7</button></a>
        				<a href="#QA208"><button id="btn_2_8" type="button" class="btn btn-default">8</button></a>
        				<a href="#QA209"><button id="btn_2_9" type="button" class="btn btn-default">9</button></a>
        				<a href="#QA210"><button id="btn_2_10" type="button" class="btn btn-default">10</button></a>
      				</div>
    			</div>
				
				<div class="page-header" style="margin: 20px 0 10px;">
  					<h4><b>三、问题求解</b></h4>
				</div>
				
				<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      				<div class="btn-group" role="group" aria-label="First group">
        				<a href="#QA301"><button id="btn_3_1" type="button" class="btn btn-default">1</button></a>
        				<a href="#QA302"><button id="btn_3_2" type="button" class="btn btn-default">2</button></a>
      				</div>
    			</div>

				<div class="page-header" style="margin: 20px 0 10px;">
  					<h4><b>四、阅读程序写结果</b></h4>
				</div>
				
				<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      				<div class="btn-group" role="group" aria-label="First group">
        				<a href="#QA401"><button id="btn_4_1" type="button" class="btn btn-default">1</button></a>
        				<a href="#QA402"><button id="btn_4_2" type="button" class="btn btn-default">2</button></a>
        				<a href="#QA403"><button id="btn_4_3" type="button" class="btn btn-default">3</button></a>
        				<a href="#QA404"><button id="btn_4_4" type="button" class="btn btn-default">4</button></a>
      				</div>
    			</div>

				<div class="page-header" style="margin: 20px 0 10px;">
  					<h4><b>五、完善程序</b></h4>
				</div>
				
				<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      				<div class="btn-group" role="group" aria-label="First group">
        				<a href="#QA511"><button id="btn_5_1" type="button" class="btn btn-default">1</button></a>
        				<a href="#QA512"><button id="btn_5_2" type="button" class="btn btn-default">2</button></a>
        				<a href="#QA513"><button id="btn_5_3" type="button" class="btn btn-default">3</button></a>
        				<a href="#QA514"><button id="btn_5_4" type="button" class="btn btn-default">4</button></a>
        				<a href="#QA515"><button id="btn_5_5" type="button" class="btn btn-default">5</button></a>
        				<a href="#QA516"><button id="btn_5_6" type="button" class="btn btn-default">6</button></a>
        				<a href="#QA517"><button id="btn_5_7" type="button" class="btn btn-default">7</button></a>
        				<a href="#QA518"><button id="btn_5_8" type="button" class="btn btn-default">8</button></a>
        				
      				</div>
      				<div class="btn-group" role="group" aria-label="Second group">
        				<a href="#QA521"><button id="btn_5_6" type="button" class="btn btn-default">1</button></a>
        				<a href="#QA522"><button id="btn_5_7" type="button" class="btn btn-default">2</button></a>
        				
      				</div>
		    </div>
    	</div>
			</div>
			
			<!-- 底部页脚 -->
		<footer class="footer ">
    		<div class="container">
      			<hr>
      			<div class="row footer-bottom">
        			<ul class="list-inline text-center">
          				<li>网页制作：董玉婷</li>
          				<li>制作日期：2019年6月14日</li>
        			</ul>
      			</div>
    		</div>
  		</footer>
  		
  		<!-- 左侧边栏 -->
		<div class="tool-box" style="left:-20px; display: block;">
			<ul class="meau-list">
				<li>
					<a class="btn-comments" title="交卷"  ng-click="$ctrl.doHandin()" style="cursor: pointer">
						<span class="glyphicon  glyphicon-log-out glp-size"></span><br>交卷
					</a>
				</li>
				<li>
					<a class="btn-comments" title="交卷"  href="#panel-top" style="cursor: pointer">
						<span class="glyphicon  glyphicon-share-alt glp-size"></span><br>返回
					</a>
				</li>
			</ul>
		</div>
			<!-- 成绩模态框 -->
    	<script type="text/ng-template" id="handin.html">
			<div class="panel panel-default">
				<div class="panel-heading">
					<table width="100%">
						<tr style="font-size: 20px; font-weight: bold;">
							<td>成绩统计结果</td>
							<td  ng-click="$ctrl.handinCancel()" align="right" style="cursor: pointer">&nbsp;X&nbsp;</td></tr>
					</table>
				</div>
				<table class="table">
					<tr>
						<th width="16%">一、单项选择</th>
						<th width="16%">二、多项选择</th>
						<th width="16%">三、问题求解</th>
						<th width="16%">四、阅读程序</th>
						<th width="16%">五、完善程序</th>
						<th width="16%">六、最终成绩</th>
					</tr>
					<tr>
						<td width="16%">{{score.q1}}</td>
						<td width="16%">{{score.q2}}</td>
						<td width="16%">{{score.q3}}</td>
						<td width="16%">{{score.q4}}</td>
						<td width="16%">{{score.q5}}</td>
						<td width="16%">{{score.qq}}</td>
					</tr>
				</table>
			</div>
    	</script>

		<script src="../../../assets/jquery/3.3.1/jquery-3.3.1.min.js"></script>
		<script src="../../../assets/angular/1.6.9/angular.min.js"></script>
		<script src="../../../assets/angular-ui-bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
		<script src="../../../assets/ng-dialog/1.4.0/js/ngDialog.min.js"></script>

		<script type="text/javascript">
    		var app = angular.module('testApp', ['ui.bootstrap','ngDialog']);
    		app.controller('test-paper', function ($log ,$scope,$http,$uibModal,ngDialog) {
    			var $ctrl = this;

				$scope.ans = {};
				$scope.score = {q1:0,q2:0,q3:0,q4:0,q5:0qq:0};
		        $scope.loadAnswers = function () {
		            $http({method: 'GET',url: '../../../assets/data/senior-2011.json'}).then(
		                function successCallback(response) {
		                    $scope.ans = response.data;
		                }, function errorCallback(response) {
		                    $log.info(response);
		                }
		            );
		        }
		        
		        $scope.doJudge=function(){
		        	var sa = 0;
		        	for(var i=0;i<10;i++){
		        		var id = "#btn_1_" + (i+1);
		        		var qa = $scope.ans.questa[i];
		        		if(qa.answer==qa.key){
		        			sa = sa + qa.score;
		        			$(id).removeClass("btn-danger");
		        			$(id).addClass("btn-success");
		        		}else{
		        			$(id).removeClass("btn-success");
		        			$(id).addClass("btn-danger");
		        		}

		        	}
					$scope.score.q1 = sa;
					
					var sb = 0;		        	
					for(var i=0;i<10;i++){		        		
						var id = "#btn_2_" + (i+1);
					var qb = $scope.ans.questb[i];
					qb.answer=qb.ansA+qb.ansB+qb.ansC+qb.ansD;
					if(qb.answer==qb.key){		        			sb = sb + qb.score;
						$(id).removeClass("btn-danger");
						$(id).addClass("btn-success");
					}else{
						$(id).removeClass("btn-success");
						$(id).addClass("btn-danger");
					}    			 	}		        	
					$scope.score.q2 = sb;

					
		        	var sc = 0;
					var qc = $scope.ans.questb;
					if($.trim(qc[0].answer)==qc[0].key && $.trim(qc[1].answer)==qc[1].key){
						sc = sc + qc[0].score;
	        			$("#btn_3_1").removeClass("btn-danger");
	        			$("#btn_3_1").addClass("btn-success");
					}else{
	        			$("#btn_3_1").removeClass("btn-success");
	        			$("#btn_3_1").addClass("btn-danger");
					}
					if($.trim(qc[1].answer)==qc[1].key){
						sc = sc + qc[1].score;
	        			$("#btn_3_2").removeClass("btn-danger");
	        			$("#btn_3_2").addClass("btn-success");
					}else{
	        			$("#btn_3_2").removeClass("btn-success");
	        			$("#btn_3_2").addClass("btn-danger");
					}
					$scope.score.q3 = sc;

		        	var sd = 0;
		        	for(var i=0;i<4;i++){
		        		var id = "#btn_4_" + (i+1);
		        		var qd = $scope.ans.questd[i];
		        		if($.trim(qd.answer)==qd.key){
		        			sd = sd + qd.score;
		        			$(id).removeClass("btn-danger");
		        			$(id).addClass("btn-success");
		        		}else{
		        			$(id).removeClass("btn-success");
		        			$(id).addClass("btn-danger");
		        		}
		        	}
					$scope.score.q4 = sd;

		        	var se = 0;
		        	for(var i=0;i<10;i++){
		        		var qe = $scope.ans.queste[i];
		        		var res = removeAllSpace(qe.answer);
		        		var ans = qe.key.split(";");
		        		var flag = 0;
		        		for(var j=0;j<ans.length;j++){
							if(res==ans[j]){
								flag = 1;
								break;
							}
		        		}
		        		var id = "#btn_5_" + (i+1);
		        		if(flag==1){
		        			se = se + qe.score;
		        			$(id).removeClass("btn-danger");
		        			$(id).addClass("btn-success");
		        		}else{
		        			$(id).removeClass("btn-success");
		        			$(id).addClass("btn-danger");
		        		}
		        	}
					$scope.score.q5 = se;
					
					$scope.score.qq = sa + sb + sc + sd+se;
		        }
		        //显示登录模态框
        		$ctrl.doHandin = function(){
        			$scope.doJudge();
            		//显示模态登录对话框
            		var modalInstance = $uibModal.open({
                		animation: true,
                		ariaLabelledBy: 'login-title',
                		ariaDescribedBy: 'login-body',
                		templateUrl: 'handin.html',
                		controller: 'HandinController',
                		controllerAs: '$ctrl',
                		scope:$scope
            		});
            		//处理模态对话框按钮事件
            		modalInstance.result.then(function (data) {}, function (){});
        		}

    		});

		    //登录对话框控制器
		    app.controller('HandinController', function ($uibModalInstance,$scope,$log) {
		        var $ctrl = this;
		        //处理登录对话框关闭按钮事件
		        $ctrl.handinCancel = function () {
		            $uibModalInstance.dismiss('cancel');
		        };
		    });

    		function removeAllSpace(str) {
				return str.replace(/\s+/g, "");
			}
		</script>

		</div>
			
	</body>
</html>

